.article-cover-img {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  background-repeat: no-repeat;
}

.article-title {
  margin: 3rem 0;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
}

.article-content {
  word-wrap: break-word;
}

.article-container {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 10rem;
}

.article-back {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 1rem;
  display: block;
}
.action {
  margin-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (min-width: 660px) {
  .article-cover-img {
    height: 50rem;
    background-size: cover;
  }
  .article-title {
    font-size: 5rem;
  }
}
